{% extends 'base.html' %}
{% load static %}

{% block styles %}
<style type="text/css">
	#aboutMe-Div1 {
	    position: relative;
	    margin:0px auto; /* 讓該div置中 */
	    width: 80%;
	    top: 10vh;
	    height: 60vh;
	}
	#aboutMe-Div1-innerDiv1 {
		position: absolute;
		width: 50%;
		height: 100%;
		left: 50%;
		background-image: url("{% static 'images/stockWinner_01.png' %}");
		background-size: 60% 80%;
		background-repeat: no-repeat;
		background-position: center;
	}
	#aboutMe-Div1-innerDiv2 {
		position: absolute;
		width: 50%;
		height: 100%;
		left: 0%;
		background-color: rgba(255,255,255,0.4);
		font-weight: bold;
		font-size: 3rem;
		text-align: center; 
	}
	#aboutMe-Div1-innerDiv2-textDiv {
		text-align: left; 
		padding: 20px;
	}
</style>
{% endblock styles %}
{% block content %}

	<div id = 'aboutMe-Div1'>

	  	<div id = 'aboutMe-Div1-innerDiv1'></div>

	  	<div id = 'aboutMe-Div1-innerDiv2'>
	  		<br>
	  		關於股獲仔
	  		<div id = "aboutMe-Div1-innerDiv2-textDiv">
	  			<font size = "5">
	  				股獲仔以剛接觸股票市場的新鮮人為主要客群，透過DDQN(Double Deep Q Network)將人工智慧應用在股市的交易上，為使用者提供個股投資模擬和智能投資建議。
	  				<br>目前股獲仔是以個股的交易為主，短期目標是打敗Buy&Hold的投資策略，中長期目標則是希望能媲美專業的股票技術分析師。
	  			</font>
			</div>	
						
	  	</div>

	</div>

{% endblock %}