{% extends 'base.html' %}
{% block styles %}
<style type="text/css">
th {
  font-family: '微軟正黑體';
  background-color: #080808;
  color:#fff;
  font-size: 2rem
}
td {
  background-color: #fff;
  font-family: '微軟正黑體';
  font-size: 1.5rem
}

table{
	margin-left:auto; 
	margin-right:auto;
	border-style:inset;
	border-collapse:collapse;
}
</style>
{% endblock styles %}
{% block content %}

<p style="font-family:微軟正黑體;font-weight:bold;font-size:300%;text-align: center;">開發團隊</p>

  <table width=50% border="5">

  　<tr>
    　<th>名稱</th>
    　<th>職位</th>
    </tr>

	<tr>
	　<td id="code">顏煥勳</td>
	　<td id="date">隊長、程式設計、系統設計、網站開發</td>
	</tr>
	　<tr>
	　<td id="code">林聖典</td>
	　<td id="date">程式設計、系統設計、網站開發</td>
	</tr>
	　<tr>
	　<td id="code">陳宇鑫</td>
	　<td id="date">程式設計、系統設計、網站開發</td>
	</tr>
	　<tr>
	　<td id="code">林于軒</td>
	　<td id="date">程式設計、網站開發</td>
	</tr>
	　<tr>
	　<td id="code">彭琮鈺</td>
	　<td id="date">程式設計、系統設計、網站開發</td>
	</tr>
	　<tr>
	　<td id="code">吳庭儀</td>
	　<td id="date">網站開發</td>
	</tr>
  </table>
<p style="text-align: center;">備註：按學號排序</p>
<p style="text-align: center;">我們是第17組</p>
<p style="text-align: center;">專案上台順序：第3組</p>
{% endblock %}