{% extends 'base.html' %}
{% block styles %}
<style type="text/css">
	#setBtn {
		font-family: 微軟正黑體;		
	}
	input{
		border:0;
	  	background-color:#003C9D;
	  	color:#fff;
	  	border-radius:10px;
	  	cursor:pointer;
	  	height: 60px;
	  	width: 200px;
	  	font-size: 1.5rem;
	}

	input:hover{
	  	color:#003C9D;
	  	background-color:#fff;
	 	border:5px #003C9D 
	 	solid;
	}
</style>
{% endblock styles %}

{% block content %}

	<div id = 'div-relative1'>

	  	<div id = 'inner-div-absolute1'></div>

	  	<div id = 'inner-div-absolute2'>
	  		<p>歡迎來到</p>
	  		<p>股獲仔 - 智能投資平台</p>
			 <form id="infoForm" method="post" action="">
                {% if not user.is_authenticated %}
                	<input type="button" id="setBtn" onclick="location.href='http://127.0.0.1:8000/accounts/login/';" 
                	value="立即使用" />
                {% endif %}
                <input type="button" id="setBtn" onclick="location.href='http://127.0.0.1:8000/aboutMe/';" 
                	value="了解更多" />
			 </form>
	  	</div>

	</div>

{% endblock %}

