{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}


{% block styles %}
<style>
#picture {
  float:left;
  width:60%;
}
#status {
  float:right;
  width:40%;
  background:#FFC;
  border-radius:25px;
}
#tbl {
  float:left;
  width:80%;
}
#decision {
  float:right;
  width:20%;
}
#btn {
  background:#FC6;
  color:#966;
  width:80px;
  height:40px;
  font-size:16px;
  border-radius:12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
  margin-right:25px;
  margin-left:25px;
  margin-bottom: 10px;
}
#setBtn {
  background:#3CF;
  color:#006;
  width:80px;
  height:40px;
  font-size:16px;
  border-radius:12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
  margin-right:25px;
  margin-left:25px;
  margin-bottom: 10px;
}
th {
  font-family: '微軟正黑體';
  background-color: #417690;
  color:#fff;
}
td {
  background-color: #fff;
}
#developingNotificationDiv {
    position: relative;
    margin:0px auto; /* 讓該div置中 */
    width: 40%;
    padding: 60px;
    top: 10vh;
    text-align: center;
    font-size: 2rem;
    font-family: 微軟正黑體;
    font-weight: bold;
    background-color: rgb(255,255,255,0.5);
}

#initialCondition4Advice {
  font-size: 1rem;
  text-align: left;
  margin-left: 100px;
  
}
</style>
{% endblock styles %}


{% block content %}
{% if user.is_authenticated %}

<br>

<script>
$(document).ready(function(){
  $("#startInvestBtn").click(function(){
    $("#developingNotificationDiv").hide();
    $("#intelligentInvestmentAdviseInterface").show();
  });

  $("#resetBtn").click(function(){
    $("#developingNotificationDiv").show();
    $("#intelligentInvestmentAdviseInterface").hide();
  });

});
</script>

<div id = 'developingNotificationDiv'>
  <p>智能投資建議 - 條件設定</p>
  
  <div id = 'initialCondition4Advice'>
	<form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="保存設定"/>
	</form>
	
	{% if form.is_valid %}
      <button id="startInvestBtn">開始操盤</button>
    {% endif %}
  </div>
</div>

<div id = 'intelligentInvestmentAdviseInterface' hidden="hidden">
	<h1>{{stock.code}} 智能投資</h1>
	
	<!--繪製股價走勢圖-->
	<div id="trend" style="width: 550px; height: 400px; "></div>
	{% block js %}
	<!--引入 JQuery 與 Highchart 的程式庫-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	
	<script src="https://code.highcharts.com.cn/highcharts/highcharts.js"></script>
	<script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script>
	<script src="https://code.highcharts.com.cn/highcharts/modules/oldie.js"></script>
	<script src="https://code.highcharts.com.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
	
	<script type= "text/javascript">
	
	$(document).ready(function() {
		var title = {
			text: '股價趨勢'
		};
		var subtitle = {
			text: 'Source: 臺灣證券交易所'
		};
		
		var xAxis = {
			title: {
				text: '過去30天股價'
			},
		};
		
		var yAxis = {
			title: {
				text: 'Closing Price (NTD)'
			},
			plotLines: [{
				value: 0,
				width: 1,
				color: '#808080'
			}]
		};

		var tooltip = {
			valueSuffix: ' NTD'
		}

		var legend = {
			layout: 'vertical',
			align: 'right',
			verticalAlign: 'middle',
			borderWidth: 0
		};

		var series =  [
		{
			name: '{{stock.code}}',
			data: {{price}}
		},
		
		];

		var json = {};

		json.title = title;
		json.subtitle = subtitle;
		json.xAxis = xAxis;
		json.yAxis = yAxis;
		json.tooltip = tooltip;
		json.legend = legend;
		json.series = series;

		$('#trend').highcharts(json);
	});
	
	</script>
	{% endblock %}
	
	<form>
		<button id="resetBtn">重新開始</button>
    </form> 
</div>

{% else %}
<div id = 'signUpNotificationDiv'>
  <p>想要使用「智能投資建議」的功能嗎？</p>
  <p>那就立刻加入股獲仔吧！</p>
  <input type="button" id="input-style1" onclick="location.href='http://127.0.0.1:8000/accounts/login/';" value="立即使用" />
</div>
{% endif %}
{% endblock %}






