{% extends 'base.html' %}
{% block styles %}
<style>
#loginDiv {
  position: relative;
  margin:0px auto; /* 讓該div置中 */
  width: 460px;
  top: 5vh;
  height: 70vh;
  text-align: center;
  background-color: rgba(255,255,255,0.5);
}
#loginTitle {
  position: absolute;
  top: 5%;
  width: 100%;       
  text-align: center; 
  font-family: 微軟正黑體;
  font-weight: bold;
  font-size: 2rem;
}
#loginInput {
  position: absolute;
  top: 20%;
  width: 100%;       
  text-align: center; 
  font-family: 微軟正黑體;
  font-size: 1rem;
}
#loginDiv-signUp {
  position: absolute;
  top: 80%;
  width: 100%;
  height: 20%;       
  text-align: center; 
  font-family: 微軟正黑體;
  font-size: 1rem;
}
input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 微軟正黑體;
  font-size: 1.25rem;
}
input[type=submit] {
  width: 40%;
  background-color: #417690;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.5rem;
}
input[type=submit]:hover {
  background-color: #003C9D;
}

</style>
{% endblock styles %}

{% block content %}




<div id = 'loginDiv'>





<form method="post" action="{% url 'login' %}">

<!-- 防止csrf攻擊 -->
{% csrf_token %}

<div id = 'loginTitle'>
會員登入
</div>

<div id = 'loginInput'>
<div>
<input type="text" name="username" placeholder="用戶名">
</div>
<div>
<input type="password" name="password" placeholder="密碼">
<p><a href="{% url 'password_reset' %}">忘記密碼？</a></p>
</div>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<input id="loginButton" type="submit" value="登入">

</div>

</form>


<div id = 'loginDiv-signUp'>
<p>還不是股獲仔的用戶嗎？ <a href="../signup">立即註冊新帳號</a></p>
</div>

{% endblock %}

</div>