{% extends 'base.html' %}

{% block styles %}

<style type="text/css">
#passwordResetDiv {
  position: relative;
  margin:0px auto; /* 讓該div置中 */
  width: 460px;
  top: 5vh;
  height: 70vh;
  text-align: center;
  background-color: rgba(255,255,255,0.5);
}
input[type=submit] {
  width: 40%;
  background-color: #417690;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: 微軟正黑體;
}
input[type=submit]:hover {
  background-color: #003C9D;
}
</style>

{% endblock styles %}


{% block content %}
<div id = 'passwordResetDiv'>
<form action="" method="post">{% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <p>{{ form.email }}</p> 
    <input type="submit" class="btn btn-default btn-lg" value="重設密碼" />
</form>
</div>
{% endblock %}