{% extends 'base.html' %}

{% block styles %}

<style type="text/css">
#signUpDiv {
  position: relative;
  margin:0px auto; /* 讓該div置中 */
  width: 460px;
  top: 0vh;
  height: 80vh;
  text-align: center;
  background-color: rgba(255,255,255,0.5);
}
#signUpDiv-titleDiv {
  position: absolute;
  top: 5%;
  width: 100%;       
  text-align: center; 
  font-family: 微軟正黑體;
  font-weight: bold;
  font-size: 2rem;
}
#signUpDiv-inputDiv {
  position: absolute;
  top: 15%;
  width: 100%;       
  text-align: center; 
  font-family: 微軟正黑體;
  font-weight: bold;
  font-size: 1rem;
}
input {
  width: 80%;
  padding: 8px 20px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 微軟正黑體;
  font-size: 1rem;
}
button[type=submit] {
  width: 40%;
  background-color: #417690;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: 微軟正黑體;
}
button[type=submit]:hover {
  background-color: #003C9D;
}
</style>

{% endblock styles %}

{% block content %}
<div id = 'signUpDiv'>
  <div id = 'signUpDiv-titleDiv'>
    註冊股獲仔會員
  </div>
  <form method="post">
  <div id = 'signUpDiv-inputDiv'>
      {% csrf_token %}
      {% for field in form %}
        <p>
          {{ field }}<br>
          {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      <button type="submit">註冊</button>
  </div>
  </form>
</div>
{% endblock %}